<a href="{% url 'create_post' %}">Add Post</a>
<a href="{% url 'logout' %}">Logout</a>

{% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.content|truncatechars:100 }}</p>
    <div>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="Post Image" style="width: 200;">
        {% endif %}
    </div>
    <p>By {{ post.author }} on {{ post.created_at }}</p>
    {% if user == post.author %}
        <a href="{% url 'update_post' post.pk %}">Edit</a>
        <a href="{% url 'delete_post' post.pk %}" onclick="return confirm('Are you sure?')">Delete</a><hr>
    {% endif %}
    <a href="{% url 'post_detail' post.pk %}">Comment Box</a><br><hr>
{% endfor %} 